# Docker Postgres
POSTGRES_PORT=5432
POSTGRES_USER=memoryos
POSTGRES_PASSWORD=memoryos
POSTGRES_DB=memoryos

# App database connection
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=memoryos
PG_USER=memoryos
PG_PASSWORD=memoryos
